@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: rgb(38, 38, 73);
}
.tra{
    position: relative;
    height: 80px;
    width: 80px;
}
.tra::before,.tra::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-bottom-color: white;
    animation: traA 2s linear infinite 0.5s;
}
.tra::before{
    transform: rotate(90deg);
    animation: traB 2s linear infinite;
}
@keyframes traA {
    0%,25%{
        transform: rotate(0deg);
    }
    50%,75%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);

    }
}
@keyframes traB {
    0%,25%{
        transform: rotate(90deg);
    }
    50%,75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(450deg);

    }
}