@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@200;400&display=swap');

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    background-color: #7bdaf3;
    padding-top: 3rem;
    flex-wrap: wrap;
}

.add{
    position: fixed;
    top: 1rem;
    right: 1rem;
    background-color: #9ec862;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    color: white;
    cursor: pointer;
}
.note{
    background-color: white;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
    margin: 30px 20px;
    height: 400px;
    overflow: hidden;
    width: 400px;
}
.note .tools{
    background-color: #9ec862;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}
.note .tools button{
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 0.5rem;
}
.note textarea{
    width: 100%;
    height: 400px;
    outline: none;
    font-weight: 400;
    font-size: 1.2rem;
    border: none;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}
.hidden{
    display: none;
}
.main{
    padding: 20px;
    font-size: 1.2rem;
}