@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Muli', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #f6f7fb;
}
.container{
    text-align: center;
}
.progress_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
    position: relative;
}
.progress_container::before{
    content: "";
    position: absolute;
    height: 5px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -2;
    background-color: #e6e6e6;
    width: 100%;
}
.progress_bar{
    position: absolute;
    height: 5px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    background-color: #3498db;
    width: 0%;
    transition: width 0.5s ease-in-out;
}

.circel{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50px;
    border: 3px solid #e0e0e0;
    color: #999;
    transition: color 0.3s ease-in-out 0.2s;
    transition: border 0.3s ease-in-out 0.2s;
}
.circel.active{
    color: #3498db;
    border: 3px solid #3498db;
}
.btn{
    background-color: #3498db;
    color: white;
    border: none;
    outline: none;
    padding: 8px 30px;
    font-size: 14px;
    font-family: inherit;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 10px;
}
.btn:disabled{
    background-color: #999;
    cursor: not-allowed;
}
.btn:not([disabled]):active{
    transform: scale(0.98);
}
@media screen and (max-width:370px){
    .progress_container{
        width: 300px;
    }
}
@media screen and (max-width:318px){
    .progress_container{
        width: 250px;
    }
}
