@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;
    overflow: hidden;
}
.container{
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.sqeuere{
    width: 16px;
    height: 16px;
    background-color: #1d1d1d;
    margin: 2px;
    box-shadow: 0 0 2px #000;
    transition: 2s ease;
}
.sqeuere:hover{
    transition-duration: 0s;
}