@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}
.counter{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    text-align: center;
}
.counter.hide{
    transform: translate(-50%,-50%) scale(0);
    animation: hide 0.6s ease-in;
}
.final{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    text-align: center;
}
.final.show{
    transform: translate(-50%,-50%) scale(1);
    animation: show 0.6s ease-in;
}
@keyframes hide {
    0%{
        transform: translate(-50%,-50%) scale(1);
    }
    100%{
        transform: translate(-50%,-50%) scale(0);
    }
}
@keyframes show {
    0%{
        transform: translate(-50%,-50%) scale(0);
    }
    100%{
        transform: translate(-50%,-50%) scale(1);
    }
}
.nums{
    color: #3894db;
    font-size: 50px;
    width: 250px;
    height: 50px;
    overflow: hidden;
    position: relative;
}

.nums span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(180deg);
    transform-origin: bottom center;
}
.nums span.in{
    transform: translate(-50%,-50%) rotate(0deg);
    animation: comeIn 0.5s ease-in;
}
.nums span.out{
    transform: translate(-50%,-50%) rotate(180deg);
    animation: comeOut 0.5s ease-in;
}

@keyframes comeIn {
    0%{
        transform: translate(-50%,-50%) rotate(180deg);
    }
    30%{
        transform: translate(-50%,-50%) rotate(-20deg);
    }
    60%{
        transform: translate(-50%,-50%) rotate(10deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
}
@keyframes comeOut {
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    60%{
        transform: translate(-50%,-50%) rotate(20deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(-180deg);
    }

}

h2{
    font-size: 20px;
    margin: 5px;
    text-transform: uppercase;
}